/* Palette */
/* 
#16354D - Dark blue
#6B99C3 - Royal blue
#D2D2D4 - Grey
#E4E5EA - Light Grey
#0C151C - Black 
*/

body {
    background-color: #16354D;
}

.header {
    background-color: #E4E5EA;
    width: 98%;
    height: 10%;
    margin: auto;
}

h1 {
    color: #0C151C;
    font-size: 10vmin;
    margin-left: 10px;
    margin-top: 0px;
}

.seperator {
    background-color: #6B99C3;
    width: 98%;
    height: 1%;
    margin: auto;
}

.tab {
    width: 98%;
    height: 2%;
    margin-left: 2%;
    margin-top: 30px;
}

.tab button {
    background-color: #E4E5EA;
    color: #0C151C;
    border: 2px solid #6B99C3;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #D2D2D4;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #16354D;
    color: #E4E5EA;
}

/* Style the tab content */
.tabcontent {
    background-color: #E4E5EA;
    width: auto;
    height: auto;
    margin: 40px 10px 10px 10px;
    border: 2px solid #6B99C3;
}

.content {
    background-color: #D2D2D4;
    width: auto;
    height: auto;
    margin: auto;
    border: 2px solid #6B99C3;
}

.GameTitle {
    margin: 0px 0px 0px 10px;
    color: #0C151C;
    font-size: 4vh;
}

.GameDescription {
    margin: 10px 10px 0px 10px;
    color: #0C151C;
    font-size: 2vh;
}

#OnionRing {
    display: none;
}

#AboutMe {
    display: none;
}

#gameImg {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
    border: 2px solid #6B99C3;
}

#ImgContainer {
    margin: 5px 5px;
}

.images {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}